.wrapping-card{
    width: 300px;
    background-color: #979797;
    margin: 0 5px 0 5px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}

.dashboard-wrapper{
    width: 80vw;
    background-color: #b1b1b1;
    display: flex;
    flex-direction: row;
}
.task-card{
    width: 300px;
    height: 100px;
    margin: 5px 0 5px 0;
    background-color: #3f3f3f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extended-taks-card-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.extended-taks-card-popup-inner{
    position: relative;
    padding: 30px;
    width: 100%;
    max-width: 720px;
    background-color: rgb(250, 237, 219);
    color: black;

}
.extended-taks-card-popup-inner .close-button{
    position: absolute;
    top: 16px;
    right: 16px;
}
.extended-tasks-card-content-wrapper{
    display: flex;
    flex-direction: row;
}